

{% block extrahead %}
<script src="../static/js/ajax.googleapis.com_ajax_libs_jquery_3.6.0_jquery.min.js"></script>
<script src="../static/js/code.jquery.com_jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="../static/css/fontawesome/css/all.min.css"/>
<link rel="stylesheet" href="../static/css/login.css"/>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="bodyid">
    

{% block content %}

<div class="login-container">
  
  <div id="loginform" class="login-form">
    <img src="../static/img/Official LEAD Logo 23Nov12.png" style="height: 70; margin-left: 30%;">
    <!-- <h1>Login</h1> -->
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <form id="loginForm" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <i class="fa-solid fa-user"></i>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required autocomplete="off"> 
      </div>
      <div class="form-group">
         <i class="fa-solid fa-lock"></i>
        <label for="password">Password:</label>
        <!-- <i class="fa-solid fa-lock"></i> -->
        <input type="password" id="password" name="password" required autocomplete="off">
        <i class="fa-solid fa-eye" id="togglePassword"></i>
      </div>

      <div class="form-group">
        <!-- <img src="../static/img/user.png"> -->
        <label for="location">Location:</label>
        <select id="location" type="text"  name="location" required> 
        {% for unit_location in location %}
        <option value="{{ unit_location.ul_code }}">{{ unit_location.ul_code }} - {{ unit_location.unit_description }}</option>
          {% endfor %}</select>
      </div>
      <input id="login" type="submit" value="Login">
    </form>
  </div>
</div>

<script src="../static/js/ajax.googleapis.com_ajax_libs_jquery_3.6.0_jquery.min.js"></script>
<script src="../static/js/code.jquery.com_jquery-3.7.0.min.js"></script>

<script src="../static/js/login.js"></script>
</body>
</html>
{% endblock %}
