<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tab.css"
    <title>Document</title>
</head>
<body>
    <div class="tab-container">
        <div class="tab" onclick="changeTab(0)">Tab 1</div>
        <div class="tab" onclick="changeTab(1)">Tab 2</div>
        <div class="tab" onclick="changeTab(2)">Tab 3</div>
        
        <div class="tab-content">
          <div id="tab1" class="content show">Content for Tab 1</div>
          <div id="tab2" class="content">Content for Tab 2</div>
          <div id="tab3" class="content">Content for Tab 3</div>
        </div>
      </div>

      <script src="../static/js/tab.js"></script>
</body>
</html>



