.pagination {
    margin-top: 30px;
    margin-bottom: 10px;

}

.numbered-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* .numbered-links li {

    margin: 0 5px;
} */

.numbered-links li a,
.numbered-links li.active {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: white;
    font-size:x-small;
    background-color: #0f31c9;
}

.numbered-links li.active {
    background-color: #8294e5;
    color: #fff;
}

.numbered-links li a:hover {
    background-color: #0fc92e;
}
