
/* .tab-container {
  margin-left: 20px;
  width: 100%;
  height: fit-content;

  border: solid;
}

.tab {
  display: inline-block;
  padding: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.tab-content .content {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
}

.tab-content .content.show {
  display: block;
} */